.tittle {
    font-size: 25;
}

.item {
    margin-top: 7;
}

.content {
    padding: 25;
}


.Logo {
    text-align: left;
}

.Logo-Hash, .Logo-Dev, .Logo-Trends {
    font-size: 25;
}

.Logo-Hash {
    color: #5B48CF;
    font-weight: bold;
}

.Logo-Dev {
    font-weight: bold;
    color: #383737;
}

.Logo-Trends {
    font-weight: 200;
    font-style: italic;
}


:host-context(.ns-dark) .Logo-Dev {
    color: greenyellow;
}