<ActionBar androidElevation="0">
  <GridLayout rows="*" columns="40, *">
    <label row="0" col="0" class="fa icon-bar" text="&#xf053;" (tap)="back()"></label>
    <Label row="0" col="1" class="Logo">
      <FormattedString>
        <Span text="#" class="Logo-Hash"></Span>
        <Span text="Dev" class="Logo-Dev"></Span>
        <Span text="Trends" class="Logo-Trends"></Span>
      </FormattedString>
    </Label>
  </GridLayout>
</ActionBar>
<StackLayout *ngIf="html.length > 0">
  <WebView id="webView" [src]="html" (loadStarted)="onLoadStarted($event)" 
  (loadFinished)="onLoadFinished($event)"></WebView>
</StackLayout>
<StackLayout *ngIf="html.length == 0">
  <GridLayout class="c-message" rows="auto, *" columns="*">
    <label row="0" col="0" class="fa icon-msg" text="&#xf069;"></label>
    <label row="1" col="0" textWrap="true"
      text="Ocurrio un problema de red, revise su conexión a internet e intentelo mas tarde"></label>
  </GridLayout>
</StackLayout>
<ActivityIndicator [busy]="load"></ActivityIndicator>