<RadSideDrawer gesturesEnabled="{{gestures}}" tkExampleTitle tkToggleNavButton (drawerOpened)="onDrawerOpened($event)" (drawerClosed)="onDrawerClosed($event)">
  <GridLayout tkDrawerContent rows="auto, *" class="sideStackLayout">
    <StackLayout class="sideTitleStackLayout">
      <Label class="logo-menu">
        <FormattedString>
          <Span text="#" class="Logo-Hash"></Span>
          <Span text="Dev" class="Logo-Dev"></Span>
          <Span text="Trends" class="Logo-Trends"></Span>
        </FormattedString>
      </Label>
      <label class="year-trend" text="{{date.getFullYear()}}"></label>
    </StackLayout>
    <ScrollView row="1">
      <menu></menu>
    </ScrollView>
  </GridLayout>
  <StackLayout tkMainContent>
    <page-router-outlet></page-router-outlet>
  </StackLayout>
</RadSideDrawer>