<RadSideDrawer tkExampleTitle tkToggleNavButton>
  <GridLayout tkDrawerContent rows="75, *" class="sideStackLayout">
    <StackLayout class="sideTitleStackLayout">
      <Label>
        <FormattedString>
          <Span text="#" class="Logo-Hash"></Span>
          <Span text="Dev" class="Logo-Dev"></Span>
          <Span text="Trends" class="Logo-Trends"></Span>
        </FormattedString>
      </Label>
    </StackLayout>
    <ScrollView row="1">
      <menu></menu>
    </ScrollView>
  </GridLayout>
  <StackLayout tkMainContent>
    <page-router-outlet></page-router-outlet>
  </StackLayout>
</RadSideDrawer>