/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. You can learn more about the 
NativeScript core theme at https://github.com/nativescript/theme
The imported CSS rules must precede all other types of rules.
*/
@import "~@nativescript/theme/css/core.css";
@import "~@nativescript/theme/css/default.css";

/* Place any CSS rules you want to apply on both iOS and Android here.
This is where the vast majority of your CSS code goes. */

/*
The following CSS rule changes the font size of all Buttons that have the
"-primary" class modifier.
*/
Button.-primary {
    font-size: 18;
}

.BackEnd {
    color: rgb(51, 51, 51);
}

.FrontEnd {
    color: #4C36D7;
}

.DevOps {
    color: #36D7B0;
}

.Manifests{
    color: #36CDD7;
}

.Database {
    color: #369DD7;
}

.Testing {
    color: #A3D736;
}

.Networks {
    color: #FA15FF;
}

.Movil {
    color: #FFBA07;
}

.TeamWork {
    color: #36D74F;
}

.BI {
    color: #D7A036;
}

.IA {
    color: #D73670;
}

.Managment {
    color: #F02323;
}

.BigData {
    color: #D73696;
}

.Agile {
    color: #9936D7;
}
.sideTitleStackLayout {
    padding: 10;
    margin-top: 15;
    text-align: center;
}

.Logo-Hash, .Logo-Dev, .Logo-Trends {
    font-size: 30;
}

.Logo-Hash {
    color: #5B48CF;
    font-weight: bold;
}

.Logo-Dev {
    font-weight: bold;
    color: #383737;
}

.Logo-Trends {
    font-weight: 200;
    font-style: italic;
}

.All {
    color: darkcyan;
}

.fa {
    font-family: 'fontawesome-webfont';
}

.f-mono {
    font-family: 'RobotoMono';    
}

.icon-bar {
    color: #5B48CF;
    text-align: left;
    font-size: 17;
}